<div class="container">
    <h1>Crear préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>Has de seleccionar un cliente</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>Has de seleccionar un juego</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fechas del préstamo</mat-label>
            <mat-date-range-input [rangePicker]="picker" #dateRange required>
              <input matStartDate name="startDate" [(ngModel)]="loan.startDate" placeholder="Fecha de inicio">
              <input matEndDate name="endDate" [(ngModel)]="loan.endDate" placeholder="Fecha de fin">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <span class="mat-error dateErrorMsg" *ngIf="getDateRangeErrorMessage(dateRange.value)">Has de seleccionar el rango de fechas para el préstamo</span>
        </mat-form-field>
        <span class="mat-error" *ngIf="errorMsg">{{errorMsg}}</span>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>